@use '../../styles/variables'as v;

.messages {
    height: calc(100% - v.$input-height);
    width: 100%;

    display: flex;
    flex-direction: column;

    scroll-behavior: smooth;

    & > .messages_header {
        padding: 1rem;
        border-bottom: 1px solid #ddd;
    }
    
    section {
        overflow: auto;
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column-reverse;
    }

    & em  {
        display: block;
        font-style: italic;
        color: #000b;

        padding-inline: 0.5rem;
        
        &:last-of-type {
            color: #0008; 
        }
    }
}