@use '../../styles/variables' as v;

#chat {
  margin: 0 auto;
  max-width: 500px;
  background-color: v.$chat-main-color;

  height: 100%;

  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

  overflow: hidden;
}