@use '../../styles/variables'as v;

.inputs_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: v.$input-height;
    width: 100%;

    background-color: white;

    padding: 0.5rem 1rem;

    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.5);

    &>#input_text {
        width: 100%;
        font-size: 1.2rem;

        &:focus,
        & {
            border: none;
            outline: none;
        }
    }

    &>button {
        color: v.$bg-body-color;
        background-color: transparent;
        border: none;
        font-weight: bold;

        border-radius: 9999px;
        padding: 0;

        transition: 0.2s ease;

        width: calc(v.$input-height - 2*0.8rem);
        aspect-ratio: 1;

        &>svg {
            width: 100%;
            height: 100%;
            fill: v.$bg-body-color;
        }

        &:hover {
            &>svg {
                fill: v.$chat-main-color;
            }
        }
    }
}