@use '../../styles/variables' as v;
.message_container {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0 0.5rem;
    .author,
    .timer {
        width: max-content;
        margin: 0.5rem;
        border-radius: 5px;
        font-size: 0.8rem;
        color: v.$author-color-text;
        font-style: italic;
    }
    .timer {
        transition: 0.2s ease-out, opacity 0.2s ease-out 0.2s;
        font-size: 0.6rem;
        height: 10px;
        margin-left: 0.9rem;
        &.hide {
            transition: 0.2s ease-out 0.2s, opacity 0.2s ease-out;
            height: 0;
            opacity: 0
        }
    }
    .message {
        padding: 1.2rem;
        color: white;
        background-color: dodgerblue;
        --color: background-color;
        border-radius: 10px;
        border-top-left-radius: 2px;
        width: max-content;
        max-width: 90%;
        ;
        position: relative;
        margin-left: 0.5rem;
        box-shadow: 0 0 5px #000a;
        // &::before {
        //     content: "";
        //     position: absolute;
        //     display: inline-block;
        //     bottom: calc(100% - 5px);
        //     left: 5px;
        //     height: 0;
        //     width: 0;
        //     border-bottom: 15px solid dodgerblue;
        //     border-left: 15px solid transparent;
        // }
    }
    &.right {
        &>.author,
        &>.timer,
        &>.message {
            margin-right: 0;
            margin-left: auto;
        }
        &>.message {
            border-radius: 10px;
            border-bottom-right-radius: 2px;
            // background-color: limegreen!important;
            // &::before {
            //     left: unset;
            //     right: 10px;
            //     border-bottom: 15px solid limegreen;
            // }
        }
    }
}