@use 'reset';
@use 'variables' as v;

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: v.$bg-body-color;

}

#root {
  height: 100vh;
}
