@use '../../styles/variables' as v;

.message_container {
    margin-bottom: 1rem;
        
        
    .author {
        padding: 0.5rem 1.2rem ;
        margin-bottom: 0.5rem;
    }
    
    .message {
        padding: 1.2rem;
        color: v.$bg-body-color;
        
        background-color: white;
        border-radius: 99999px;

        width: max-content;

        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            display: inline-block;
            bottom: calc(100% - 5px);
            left: 20px;
            height: 0;
            width: 0;
            border-bottom: 15px solid white;
            border-left: 15px solid transparent;
        }
    }
}
