@use '../../styles/variables' as v;

.message_container {
    margin-bottom: 1rem;
    width: 100%;
    
    padding: 0 0.5rem;
    
    .author {
        padding: 0.5rem ;
        margin-bottom: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;

        background-color: v.$bg-body-color;
        width: max-content;
        box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.5);
        border-radius: 5px;

        font-size: 0.8rem;
    }

    .message {
        padding: 1.2rem;
        color: white;
        
        background-color: dodgerblue;
        --color : background-color;
        border-radius: 10px;
        border-top-left-radius: 5px;
        
        width: max-content;
        max-width: 90%;;
        
        position: relative;
        
        margin-left: 20px;

        box-shadow: 0 0 5px #000a;
        
        // &::before {
        //     content: "";
        //     position: absolute;
        //     display: inline-block;
        //     bottom: calc(100% - 5px);
        //     left: 5px;
        //     height: 0;
        //     width: 0;
        //     border-bottom: 15px solid dodgerblue;
        //     border-left: 15px solid transparent;
        // }
    }

    &.right {

        & > .author, & > .message {
            margin-right: 0;
            margin-left: auto;
        }

        & > .message {
            background-color: limegreen!important;

            &::before {
                left: unset;
                right: 10px;
                border-bottom: 15px solid limegreen;
            }
        }
    }
}
